.detail {
  .wrapper {
    padding: 30px;
    border-radius: 20px;
    width: 100%;
    min-height: 500px;
    border: 1px solid #000;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    gap: 30px;

    aside {
      width: 200px;

      nav {
        a {
          width: 100%;
        }

        img {
          width: 50%;
        }
      }
    }

    .detail-content {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      border-radius: 20px;
      background-color: #1a2036;

      .detail-wrapper {
        flex: 1 1;
      }
    }
  }
}